.u-section-1 .u-sheet-1 {
  min-height: 1691px;
}

.u-section-1 .u-group-1 {
  width: 535px;
  min-height: 135px;
  background-image: none;
  height: auto;
  margin: 1px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -120px 0 0 228px;
}

.u-section-1 .u-text-2 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: 0 20px 0 128px;
}

.u-section-1 .u-group-2 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: -135px auto 0 605px;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 0 0 228px;
}

.u-section-1 .u-text-4 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: 0 20px 0 128px;
}

.u-section-1 .u-group-3 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: 20px auto 0 605px;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-1 .u-image-3 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -120px 0 0 228px;
}

.u-section-1 .u-text-6 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: -1px 20px 0 128px;
}

.u-section-1 .u-group-4 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: -135px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-1 .u-image-4 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -120px 0 0 228px;
}

.u-section-1 .u-text-8 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: 0 20px 0 128px;
}

.u-section-1 .u-group-5 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: 20px auto 0 605px;
}

.u-section-1 .u-container-layout-5 {
  padding-bottom: 0;
}

.u-section-1 .u-image-5 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -120px 0 0 228px;
}

.u-section-1 .u-text-10 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: 0 20px 0 128px;
}

.u-section-1 .u-group-6 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: -135px auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-1 .u-image-6 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -120px 0 0 227px;
}

.u-section-1 .u-text-12 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: 0 20px 0 128px;
}

.u-section-1 .u-group-7 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: 20px auto 0 605px;
}

.u-section-1 .u-container-layout-7 {
  padding-bottom: 0;
}

.u-section-1 .u-image-7 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 99px 0 228px;
}

.u-section-1 .u-text-14 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  background-image: none;
  margin: 0 20px 0 128px;
}

.u-section-1 .u-group-8 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: -135px auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding-bottom: 0;
}

.u-section-1 .u-image-8 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 99px 0 228px;
}

.u-section-1 .u-text-16 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: 0 20px 0 128px;
}

.u-section-1 .u-group-9 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: 20px auto 0 605px;
}

.u-section-1 .u-container-layout-9 {
  padding-bottom: 0;
}

.u-section-1 .u-image-9 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 8px 0 228px;
}

.u-section-1 .u-text-18 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: 0 0 0 128px;
}

.u-section-1 .u-group-10 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: -135px auto 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding-bottom: 0;
}

.u-section-1 .u-image-10 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 99px 0 228px;
}

.u-section-1 .u-text-20 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: -1px 0 0 128px;
}

.u-section-1 .u-group-11 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: 20px auto 0 605px;
}

.u-section-1 .u-container-layout-11 {
  padding-bottom: 0;
}

.u-section-1 .u-image-11 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-21 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 99px 0 228px;
}

.u-section-1 .u-text-22 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: -1px 24px 0 128px;
}

.u-section-1 .u-group-12 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: -135px auto 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding-bottom: 0;
}

.u-section-1 .u-image-12 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-23 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 99px 0 228px;
}

.u-section-1 .u-text-24 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: -1px 0 0 128px;
}

.u-section-1 .u-group-13 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: 20px auto 0 605px;
}

.u-section-1 .u-container-layout-13 {
  padding-bottom: 0;
}

.u-section-1 .u-image-13 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-25 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 99px 0 228px;
}

.u-section-1 .u-text-26 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: -1px 0 0 128px;
}

.u-section-1 .u-group-14 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: -135px auto 0 0;
}

.u-section-1 .u-container-layout-14 {
  padding-bottom: 0;
}

.u-section-1 .u-image-14 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-27 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 100px 0 228px;
}

.u-section-1 .u-text-28 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: -1px 0 0 128px;
}

.u-section-1 .u-group-15 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-15 {
  padding-bottom: 0;
}

.u-section-1 .u-image-15 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-29 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 99px 0 228px;
}

.u-section-1 .u-text-30 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: -1px 0 0 128px;
}

.u-section-1 .u-group-16 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: -130px 0 0 auto;
}

.u-section-1 .u-container-layout-16 {
  padding-bottom: 0;
}

.u-section-1 .u-image-16 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-31 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 99px 0 228px;
}

.u-section-1 .u-text-32 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: -1px 0 0 128px;
}

.u-section-1 .u-group-17 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-container-layout-17 {
  padding-bottom: 0;
}

.u-section-1 .u-image-17 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-33 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 0 0 228px;
}

.u-section-1 .u-text-34 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: -1px 0 0 128px;
}

.u-section-1 .u-group-18 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: -135px auto 0 0;
}

.u-section-1 .u-container-layout-18 {
  padding-bottom: 0;
}

.u-section-1 .u-image-18 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-35 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 8px 0 228px;
}

.u-section-1 .u-text-36 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: -1px 0 0 128px;
}

.u-section-1 .u-group-19 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-container-layout-19 {
  padding-bottom: 0;
}

.u-section-1 .u-image-19 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-37 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 100px 0 228px;
}

.u-section-1 .u-text-38 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: -1px 0 0 128px;
}

.u-section-1 .u-group-20 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: -135px auto 0 0;
}

.u-section-1 .u-container-layout-20 {
  padding-bottom: 0;
}

.u-section-1 .u-image-20 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-39 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 99px 0 228px;
}

.u-section-1 .u-text-40 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: -1px 0 0 128px;
}

.u-section-1 .u-group-21 {
  width: 535px;
  min-height: 135px;
  height: auto;
  margin: 20px auto 1px;
}

.u-section-1 .u-container-layout-21 {
  padding-bottom: 0;
}

.u-section-1 .u-image-21 {
  width: 128px;
  height: 128px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-41 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: -122px 99px 0 228px;
}

.u-section-1 .u-text-42 {
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  margin: -7px -8px 0 136px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 505px;
    margin-right: 300px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: 300px;
    margin-left: 405px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-right: 275px;
    margin-left: 405px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-right: 275px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-group-5 {
    margin-right: 275px;
    margin-left: 405px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-right: 275px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-group-7 {
    margin-right: 275px;
    margin-left: 405px;
    height: auto;
  }

  .u-section-1 .u-group-8 {
    margin-right: 275px;
    height: auto;
  }

  .u-section-1 .u-group-9 {
    margin-right: 275px;
    margin-left: 405px;
    height: auto;
  }

  .u-section-1 .u-group-10 {
    margin-right: 275px;
    height: auto;
  }

  .u-section-1 .u-group-11 {
    margin-right: 275px;
    margin-left: 405px;
    height: auto;
  }

  .u-section-1 .u-group-12 {
    margin-right: 275px;
    height: auto;
  }

  .u-section-1 .u-group-13 {
    margin-right: 275px;
    margin-left: 405px;
    height: auto;
  }

  .u-section-1 .u-group-14 {
    margin-right: 275px;
    height: auto;
  }

  .u-section-1 .u-group-15 {
    margin-right: 275px;
    height: auto;
  }

  .u-section-1 .u-group-16 {
    height: auto;
  }

  .u-section-1 .u-group-17 {
    margin-right: 275px;
    height: auto;
  }

  .u-section-1 .u-group-18 {
    height: auto;
  }

  .u-section-1 .u-group-19 {
    height: auto;
  }

  .u-section-1 .u-group-20 {
    height: auto;
  }

  .u-section-1 .u-group-21 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-right: 185px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 185px;
    margin-left: 185px;
  }

  .u-section-1 .u-group-3 {
    margin-right: auto;
    margin-left: 236px;
  }

  .u-section-1 .u-group-4 {
    margin-right: auto;
    margin-left: 236px;
  }

  .u-section-1 .u-group-5 {
    margin-right: auto;
    margin-left: 236px;
  }

  .u-section-1 .u-group-6 {
    margin-right: auto;
    margin-left: 236px;
  }

  .u-section-1 .u-group-7 {
    margin-right: auto;
    margin-left: 236px;
  }

  .u-section-1 .u-group-8 {
    margin-right: auto;
    margin-left: 236px;
  }

  .u-section-1 .u-group-9 {
    margin-right: auto;
    margin-left: 236px;
  }

  .u-section-1 .u-group-10 {
    margin-right: auto;
    margin-left: 236px;
  }

  .u-section-1 .u-group-11 {
    margin-right: auto;
    margin-left: 236px;
  }

  .u-section-1 .u-group-12 {
    margin-right: auto;
    margin-left: 236px;
  }

  .u-section-1 .u-group-13 {
    margin-right: auto;
    margin-left: 236px;
  }

  .u-section-1 .u-group-14 {
    margin-right: auto;
    margin-left: 236px;
  }

  .u-section-1 .u-group-15 {
    margin-right: auto;
    margin-left: 236px;
  }

  .u-section-1 .u-group-17 {
    margin-right: 0;
    margin-left: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-right: 5px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: auto;
    margin-left: 5px;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    margin-right: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-5 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-6 {
    margin-right: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-7 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-8 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-9 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-10 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-image-10 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-11 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-11 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-12 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-image-12 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-13 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-13 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-14 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-image-14 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-15 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-image-15 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-16 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-17 {
    margin-right: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-image-17 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-18 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-19 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-20 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-21 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 390px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-image-1 {
    height: 96px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-2 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 33px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-3 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-image-4 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-5 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-image-6 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-7 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-image-8 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-15 {
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-9 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-9 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-17 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-group-10 {
    width: 340px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-image-10 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-19 {
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
  }

  .u-section-1 .u-group-11 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-11 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-21 {
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-12 {
    width: 340px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-image-12 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-23 {
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
  }

  .u-section-1 .u-group-13 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-13 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-25 {
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 0;
  }

  .u-section-1 .u-group-14 {
    width: 340px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-image-14 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-27 {
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 0;
  }

  .u-section-1 .u-group-15 {
    width: 340px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-image-15 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-29 {
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 0;
  }

  .u-section-1 .u-group-16 {
    width: 340px;
  }

  .u-section-1 .u-image-16 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-31 {
    margin-top: -75px;
    margin-right: 2px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 0;
  }

  .u-section-1 .u-group-17 {
    width: 340px;
    margin-right: 0;
    margin-left: 400px;
  }

  .u-section-1 .u-image-17 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-33 {
    margin-top: 20px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 0;
  }

  .u-section-1 .u-group-18 {
    width: 340px;
  }

  .u-section-1 .u-image-18 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-35 {
    margin-top: -75px;
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 0;
  }

  .u-section-1 .u-group-19 {
    width: 340px;
  }

  .u-section-1 .u-image-19 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-37 {
    margin-top: -75px;
    margin-right: 3px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 0;
  }

  .u-section-1 .u-group-20 {
    width: 340px;
  }

  .u-section-1 .u-image-20 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-39 {
    margin-top: -75px;
    margin-right: 2px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 0;
  }

  .u-section-1 .u-group-21 {
    width: 340px;
  }

  .u-section-1 .u-image-21 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-41 {
    margin-top: -75px;
    margin-right: 2px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 0;
    margin-left: 0;
  }
}